.bg-hero-image{
    background-image: url('images/wallpaper.jpg');
background-position: center center ;
background-size: cover;
}
h1 { 
    font-family: 'Vidaloka', serif;
  color: #cfd6d5;
}

body {

background-color: #dcdba8;
font-family: 'Bad Script', cursive;
font-size: large;
font-weight: bold;
color: #49382b;
}

#desc{
  background-color: #a1b294;
}
#footer{
  color:#f5cda7;
}